[Unit]
Description=DataPower IDG Container
After=network-online.target
Wants=network-online.target

[Container]
Image=cp.icr.io/cp/datapower/datapower-prod:10.5.0.19
ContainerName=idg
PublishPort=9090:9090
PublishPort=2200:2200
PublishPort=5550:5550
PublishPort=5554:5554
PublishPort=7022:7022
Environment=DATAPOWER_ACCEPT_LICENSE=true
Environment=DATAPOWER_INTERACTIVE=true
Volume=/root/config:/opt/ibm/datapower/drouter/config
Volume=/root/local:/opt/ibm/datapower/drouter/local
Volume=/root/certs:/opt/ibm/datapower/root/secure/usrcerts
Volume=/root/sharedcerts:/opt/ibm/datapower/root/secure/sharedcerts
Volume=/root/raid0:/opt/ibm/datapower/drouter/mnt/raid-volume/raid0
Volume=/root/raid0encr:/opt/ibm/datapower/drouter/mnt/raid-volume/raid0encr
LogDriver=journald

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

